@charset "UTF-8";

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "FuturaPT";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "FuturaPT";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #5AA9F8;
  font-size: 15px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.phone {
  font-size: 18px;
  color: #003162;
}

.phone svg,
.phone img {
  width: 13px;
}

.btn {
  display: inline-block;
  background-color: #f85a5a;
  color: #ffffff;
  padding: 16px 38px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 29px;
  color: #003162;
}

.title_white {
  color: #ffffff;
}

.subtitle {
  font-weight: 700;
  font-size: 22px;
  color: #003162;
}

.desc {
  color: rgba(0, 49, 98, 0.6);
}

.range__label {
  font-size: 16px;
}

.range__value {
  font-size: 18px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slick-dots li.slick-active button {
  width: 11px;
  height: 11px;
  background-color: #003162;
}

.slick-arrow {
  width: 30px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slick-arrow.slick-disabled {
  opacity: 0.1;
  pointer-events: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  margin: 0px 9px 0px 0px;
}

.social li:last-child {
  margin: 0px 0px 0px 0px;
}

.social__icon {
  display: block;
  width: 20px;
}

.social__icon img {
  max-width: 100%;
}

.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
}

.twentytwenty-before-label,
.twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px;
}

.twentytwenty-horizontal .twentytwenty-before-label:before,
.twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.twentytwenty-vertical .twentytwenty-before-label:before,
.twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow,
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.twentytwenty-container.active .twentytwenty-overlay,
.twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.twentytwenty-before-label {
  opacity: 0;
}

.twentytwenty-before-label:before {
  content: attr(data-content);
}

.twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-after-label:before {
  content: attr(data-content);
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

.twentytwenty-before {
  z-index: 20;
}

.twentytwenty-after {
  z-index: 10;
}

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px;
}

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 49;
}

.header__container {
  height: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65%;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  z-index: 51;
}

.header__logo img {
  max-width: 100%;
}

.header__social {
  position: relative;
  margin: 0px 15px 0px auto;
  z-index: 51;
}

.header__menu {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__phone {
  position: relative;
  z-index: 51;
}

.header__btn {
  position: relative;
  margin: 0px 0px 0px 20px;
  z-index: 51;
}

.icon-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 51;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.menu__body {
  position: relative;
  z-index: 51;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  position: relative;
  margin: 0px 1.36752%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.menu__link {
  text-transform: uppercase;
  color: #003162;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid #eeeeee;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 80px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__social {
  margin: 0px 15px 0px auto;
}

.footer__social a {
  width: 18px;
}

.footer__phone {
  margin: 0 20px 0 0;
}

.hero {
  padding: 130px 0px 0px 0px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__img img {
  max-width: 100%;
}

.hero__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__cont {
  background-color: #5AA9F8;
  padding: 30px 60px;
  color: #ffffff;
}

.hero__title {
  margin: 0px 0px 20px 0px;
}

.hero__list {
  margin: 0px 0px 40px 0px;
}

.hero__list li {
  list-style-type: '–  ';
  margin: 0px 0px 7px 0px;
}

.hero__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.services {
  background-color: #f6f6f6;
  padding: 60px 0;
}

.services__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.services__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  padding: 20px 10px;
  text-align: center;
}

.services__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.services__desc {
  max-width: 350px;
  text-align: center;
  margin: 0px auto 15px;
}

.constructor__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.constructor__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  margin: 10px 0;
}

.constructor__sum {
  margin: 0px 0px 30px 0px;
}

.item-constructor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 16px 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.item-constructor__icon {
  position: relative;
  width: 30px;
  margin: 0px 0px 10px 0px;
  z-index: 2;
}

.item-constructor__icon img {
  max-width: 100%;
}

.item-constructor__title {
  position: relative;
  z-index: 2;
}

.item-constructor__checkbox {
  display: none;
}

.item-constructor__checkbox:checked ~ .item-constructor__checkmark {
  background-color: rgba(222, 222, 222, 0.5);
}

.item-constructor__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number__body {
  position: relative;
  padding: 10px 0 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number__cont {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number__range {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.number__range input {
  width: 100%;
}

.number__label {
  display: block;
  margin: 0px 0px 20px 0px;
}

.number__tabs {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.number__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 16px 8px;
}

.number__item .item-constructor__title span {
  font-weight: 700;
  color: #4b8bcc;
}

.number__sum {
  margin: 0px 0px 30px 0px;
}

.number__btn {
  position: relative;
  bottom: 0;
}

.benefits {
  padding: 60px 0 0;
}

.benefits__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.benefits__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  padding: 20px 30px 0;
  text-align: center;
}

.benefits__subtitle {
  margin: 0px 0px 30px 0px;
}

.benefits__desc {
  margin: 0px 0px 30px 0px;
}

.benefits__img img {
  max-width: 100%;
}

.steps {
  padding: 60px 0;
}

.steps__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.steps__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

.steps__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.steps__arrows .slick-arrow {
  position: relative;
  z-index: 5;
}

.steps__cards {
  position: relative;
  z-index: 2;
}

.steps__cards .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.steps__cards .slick-track .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.steps__card {
  margin: 0 10px;
}

.steps__btn {
  position: relative;
  margin: 0 auto;
  z-index: 3;
}

.card-steps {
  padding: 40px 50px 90px 30px;
  border: 1px solid #dedede;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-steps__icon {
  width: 50px;
  margin: 0px 0px 40px 0px;
}

.card-steps__icon img {
  max-width: 100%;
}

.card-steps__title {
  font-size: 17px;
  margin: 0px 0px 20px 0px;
}

.card-steps__desc {
  line-height: 128.57143%;
}

.card-steps__number {
  position: absolute;
  right: 5px;
  bottom: -30px;
  font-weight: 700;
  font-size: 86px;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq {
  background-color: #f6f6f6;
  padding: 60px 0;
}

.faq__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.faq__spollers {
  max-width: 750px;
  margin: 0 auto;
}

.faq__item {
  margin: 0px 0px 10px 0px;
}

.faq__item:last-child {
  margin: 0px 0px 0px 0px;
}

.item-faq {
  background: rgba(236, 236, 236, 0.6);
  border-radius: 4px;
  padding: 0 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-faq__spoller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 15px 0px 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-faq__spoller.active {
  padding: 15px 0 10px 0;
}

.item-faq__spoller.active .item-faq__btn {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-faq__spoller + .item-faq__desc {
  display: none;
}

.item-faq__question {
  font-size: 18px;
  margin: 0px 130px 0px 0px;
}

.item-faq__btn {
  font-size: 36px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-faq__desc {
  padding: 0px 0px 15px 0px;
}

.testimonials {
  padding: 60px 0 0px;
}

.testimonials__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.testimonials__slider .slick-list {
  margin: 0px 0px 15px 0px;
}

.slide-testimonials {
  padding: 0 15px;
}

.slide-testimonials__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.slide-testimonials__avatar {
  width: 50px;
  margin: 0px 15px 0px 0px;
}

.slide-testimonials__avatar img,
.slide-testimonials__avatar svg {
  border-radius: 50%;
  max-width: 100%;
}

.slide-testimonials__info {
  color: #f85a5a;
}

.slide-testimonials__name {
  color: #003162;
  font-weight: 700;
  font-size: 15px;
  margin: 0px 0px 3px 0px;
}

.gallery {
  padding: 60px 0;
}

.gallery__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.gallery__body {
  max-width: 750px;
  margin: 0 auto;
}

.gallery__body .twentytwenty-wrapper {
  margin: 0px 0px 20px 0px;
}

.gallery__body .twentytwenty-wrapper:last-child {
  margin: 0px 0px 0px 0px;
}

.item-gallery img {
  width: 100%;
}

.contact {
  padding: 40px 0;
  background-color: #f6f6f6;
}

.contact__title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.contact__form {
  background-color: #ffffff;
  border-radius: 25px;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__input {
  width: 80%;
  margin: 0px 0px 15px 0px;
}

.contact__input input {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 50px;
  padding: 10px 15px;
  color: #003162;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__input input:focus {
  border-color: #003162;
}

.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.contact__item:last-child {
  margin: 0px 0px 0px 0px;
}

.contact__tabs {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0px 0px 25px 0px;
}

@media (min-width: 767.98px) {
  .btn:hover {
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  .menu__list li:hover:after {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .menu__list li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: #003162;
  }

  .menu__list li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: white;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .card-steps:hover {
    -webkit-box-shadow: 0 5px 10px rgba(90, 169, 248, 0.1);
            box-shadow: 0 5px 10px rgba(90, 169, 248, 0.1);
  }

  .card-steps:hover .card-steps__number {
    bottom: -10px;
    opacity: 0.6;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .constructor__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
  }

  .number__tabs {
    width: 80%;
  }

  .benefits__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__block:first-child {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    height: 60px;
  }

  .header__top {
    height: 100%;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin: 0 auto;
  }

  .header__social {
    margin: 0 15px 0 0;
  }

  .header__phone {
    margin: 0px auto;
  }

  .header__btn {
    margin: 0px 0px 0px 0px;
  }

  .icon-menu {
    display: block;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 115px 0px 30px 0px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
    z-index: 48;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__list {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 20px 0px;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .hero {
    padding-bottom: 80px;
  }

  .hero__img {
    display: none;
  }

  .hero__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__section:first-child {
    margin: 0px 0px 40px 0px;
  }

  .constructor__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  .card-steps__number {
    bottom: -20px;
  }
}

@media (max-width: 620px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin: 0px 0px 15px 0px;
  }

  .footer__social {
    margin: 0 auto 15px;
  }

  .footer__phone {
    margin: 0 auto 15px;
  }
}

@media (max-width: 479.98px) {
  .header__icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__logo {
    margin: 0px 0px 0px 0px;
  }

  .header__social {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }

  .header__phone {
    margin: 0px 0px 15px 0px;
  }

  .hero__cont {
    padding: 30px 15px 30px 40px;
  }

  .constructor__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
  }

  .benefits__block {
    padding: 20px 10px;
  }

  .steps__body {
    padding: 0 25px;
  }

  .card-steps {
    padding: 40px 30px 90px 30px;
  }

  .item-faq__question {
    margin: 0px 40px 0px 0px;
  }

  .contact__input {
    width: 100%;
  }

  .contact__tabs {
    width: 100%;
  }
}